{% extends 'base.html' %}
{% block title %}
<title>Project List</title>
{% endblock title %}
{% load widget_tweaks %}
{% load static %}
{% block nav %}

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa-solid fa-bars" style="color: #144368; font-size: 1.5rem;"></i>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="margin-top: -7px !important;">

        <li class="nav-link nav-item dropdown px-3">
            <span class="btn p-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"
                style="outline: none;font-weight: 600; color: #144368; font-size: 18px;">
                Project Management
            </span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% if request.user.is_superuser %}
              <a class="dropdown-item" href="/Project_Management/projectreg">Create Project</a>
              <a class="dropdown-item" href="/Project_Management/projectlist">ProjectList</a>
              <a class="dropdown-item" href="/Project_Management/teamreg">Assign Project</a>
              <a class="dropdown-item" href="/Project_Management/teammembers">Team Allocation</a>
              <a class="dropdown-item" href="/Project_Management/teamlist">TeamList</a>
              <a class="dropdown-item" href="/Project_Management/taskreg">Create Task</a>
              <a class="dropdown-item" href="/Project_Management/tasklist">TaskList</a>
              <a class="dropdown-item" href="/Project_Management/approvallist">Approval</a>
              {% elif request.user.userdetail.userrole == 2 or request.user.userdetail.userrole == 1 or request.user.userdetail.userrole == 5 %}
              <a class="dropdown-item" href="/Project_Management/projectreg">Create Project</a>
              <a class="dropdown-item" href="/Project_Management/projectlist">ProjectList</a>
              <a class="dropdown-item" href="/Project_Management/teamreg">Assign Project</a>
              <a class="dropdown-item" href="/Project_Management/teammembers">Team Allocation</a>
              <a class="dropdown-item" href="/Project_Management/teamlist">TeamList</a>
              <a class="dropdown-item" href="/Project_Management/taskreg">Create Task</a>
              <a class="dropdown-item" href="/Project_Management/tasklist">TaskList</a>
              {% elif request.user.userdetail.userrole == 3 %}
              <a class="dropdown-item" href="/Project_Management/projectreg">Create Project</a>
              <a class="dropdown-item" href="/Project_Management/projectlist">ProjectList</a>
              <a class="dropdown-item" href="/Project_Management/teamreg">Assign Project</a>
              <a class="dropdown-item" href="/Project_Management/teammembers">Team Allocation</a>
              <a class="dropdown-item" href="/Project_Management/teamlist">TeamList</a>
              <a class="dropdown-item" href="/Project_Management/taskreg">Create Task</a>
              <a class="dropdown-item" href="/Project_Management/tasklist">TaskList</a>
              

              {% elif request.user.userdetail.userrole == 4 %}
              <a class="dropdown-item" href="/Project_Management/taskreg">Create Task</a>
              <a class="dropdown-item" href="/Project_Management/projectlist">ProjectList</a>
              <a class="dropdown-item" href="/Project_Management/tasklist">TaskList</a>
              <a class="dropdown-item" href="">
              {% elif request.user.userdetail.userrole == 6 %}
              <a class="dropdown-item" href="/Project_Management/projectreg">Create Project</a>
              <a class="dropdown-item" href="/Project_Management/projectlist">ProjectList</a>
              <a class="dropdown-item" href="/Project_Management/teamreg">Assign Project</a>
              <a class="dropdown-item" href="/Project_Management/teammembers">Team Allocation</a>
              <a class="dropdown-item" href="/Project_Management/teamlist">TeamList</a>
              <a class="dropdown-item" href="/Project_Management/taskreg">Create Task</a>
              <a class="dropdown-item" href="/Project_Management/tasklist">TaskList</a>
              {% endif %}

                

                
            </div>
        </li>

        {% if request.user.is_superuser %}
        <li class="nav-link nav-item px-3">
            <a href="/Project_Management/Reviewdetail"
                style="text-decoration: none; font-weight: 600; color: #144368; font-size: 18px;">
                See Feedback&nbsp;<i class="fa-solid fa-comments"></i>
            </a>
        </li>
        {% else %}
        <li class="nav-link nav-item px-3">
            <a href="/Project_Management/Reviewfun"
                style="text-decoration: none; font-weight: 600; color: #144368; font-size: 18px;">
                Feedback&nbsp;<i class="fa-solid fa-comments"></i>
            </a>
        </li>
        {% endif %}
        <li class="nav-link nav-item dropdown px-3">
          <span class="btn p-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"
              style="outline: none;font-weight: 600; color: #144368; font-size: 18px;">
              <i class="fa-solid fa-user"></i> {{ request.user }}
          </span>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: fit-content;">
            <a class="dropdown-item" href="/accounts/detail/">My Profile</a>
            <a class="dropdown-item" href="/accounts/logout/">Signout</a>
            
          </div>
      </li>
    </ul>
    </nav>

{% endblock %}


{% block body %}
<!-- For Filter function -->
<div class="container bg-light rounded py-4" style="margin-top: -9rem !important;">
  <form method="get">
    <h1 style="color: #144368; font-family: Chivo; text-shadow: 2px 2px 1px #817f7f; font-weight: 700 !important;" class="mt-2 text-center">List of Pending Projects <i class="fa-solid fa-list-check"></i></h1>
    <div class="row mt-5">
      <div class="col-md-3">
        <label>Vertical</label>
        
        {% render_field uf.form.vertical class="form-control" %}
      </div>
      <div class="col-md-2">
        <label>Manager</label>
        {% render_field uf.form.manager class="form-control" %}
      </div>
      <div class="col-md-2">
        <label>Approval Status</label>
        {% render_field uf.form.approval_status class="form-control" %}
      </div>
      <div class="col-md-2">
        <label>Project Status</label>
        {% render_field uf.form.project_status class="form-control" %}
      </div>
      <div class="col-md-3 mt-auto">
        <button type="submit" class="btn btn-primary" style="background-color: #144368;">
          <span class="glyphicon glyphicon-search"></span> Filter <i class="fa-solid fa-filter"></i>
        </button>
      </div>
    <br>
    <table class="table text-center table-hover mt-4">
      <thead class="thead-light">
        <tr>
          <th scope="col">Project Title</th>
          <th scope="col">Client Name</th>
          <th scope="col">Creator</th>
          <th scope="col">Department</th>
          <th scope="col">Manager</th>
          <th scope="col">CsOwner</th>
          
          <th scope="col">Attachment</th>
          <th scope="col">Alter</th>
        </tr>
      </thead>
      <tbody>
        {% for i in uf.qs %}
        <tr>
          <td scope="row">{{i.project_title}}</td>
          <td>{{i.client_Name}}</td>
          <td>{{i.creator}}</td>
          <td>{{i.vertical}}</td>
          <td>{{i.manager}}</td>
          <td>{{i.CsOwner}}</td>
          
          <td>
            <a href="{{i.attachment.url}}/" class="btn btn-sm btn-primary" target="_blank">View</a>
            <a href="/Project_Management/projectdetail/{{i.id}}/" class="fa fa-eye" onclick="openPopup()" target="blank"></a>
          </td>
          <td>
            <a href="/Project_Management/updateproject/{{i.id}}/">
              <button type="button" class="btn btn-primary btn-sm">Edit/Remark <i class="fa-solid fa-pen-to-square"></i></button>
            </a>
            <a href="/Project_Management/deleteproject/{{i.id}}/">
              <button type="button" class="btn btn-danger btn-sm mt-1"><i class="fa-solid fa-trash-can"></i></button>
            </a>
          </td>
        </tr>
        {% endfor %}
    <!-- <table class="table mt-5 text-center table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Project Title</th>
          <th scope="col">Client Name</th>
          <th scope="col">Creator</th>
          <th scope="col">Department</th>
          <th scope="col">Manager</th>
          <th scope="col">CsOwner</th>
          <th scope="col">Assignted_to</th>
          <th scope="col">Attachment</th>

          <th scope="col">Alter</th>


        </tr>
      </thead>
      <tbody>
        {% for i in uf.qs %}
        <tr>

          <td>{{i.project_title}}</td>
          <td>{{i.client_Name}}</td>
          <td>{{i.creator}}</td>
          <td>{{i.vertical}}</td>
          <td>{{i.manager}}</td>
          <td>{{i.CsOwner}}</th>
          <td>{{i.assignted_to}}</th>
          <td>

            <a href="{{i.attachment.url}}/" class="btn btn-primary" target="_blank">View</a>
        
              
              <!-- Trigger the modal with a button --
           {% comment %} <a href="/Project_Management/projectdetail/{{i.id}}/" >
            <button type="button" class="fa fa-eye" data-toggle="modal" data-target="#myModal"></button>
            </a>  {% endcomment %}
            <a href="/Project_Management/projectdetail/{{i.id}}/" class="fa fa-eye" onclick="openPopup()" target="blank" >
            
            </a>
          </td>
          <td>

              <a href="/Project_Management/updateproject/{{i.id}}/">
                <button type="button" class="btn btn-primary btn-sm">Edit/Remark</button>
              </a>

              <a href="/Project_Management/deleteproject/{{i.id}}/">
                <button type="button" class="btn btn-danger btn-sm mt-1">DELETE</button>
              </a>
          </td>


          {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

</div> -->
<!-- Modal -->
<!-- <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content--
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Detail</h4>
      </div>
      <div class="modal-body">
          {{Doc.project_title}}
          {{Doc.client_Name}}
          {{Doc.creator}}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>

</div> -->


{% endblock %}

